  /* Hide scrollbar for all elements within the main container */
  .hide-scrollbar, .hide-scrollbar * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar, .hide-scrollbar *::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }